<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
				<div class="row">
					<ol class="breadcrumb">
						<li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
						<li class="active">Icons</li>
					</ol>
				</div><!--/.row-->
		
				<div class="row">
					<div class="col-lg-12">
						<h1 class="page-header">Partners Details</h1>
					</div>
				</div><!--/.row-->
				
		
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading" style="width: 70%;">Basic Details about Partner</div>
							<div class="panel-body" style="width: 60%; padding: 2% 5%;">								
									<form role="form" ng-controller="partnerController as partner">									
										<div class="form-group">
											<label>Name </label>
											<input class="form-control" type="text" placeholder="Name">
										</div>																		
										<div class="form-group">
											<label>Address</label>
											<input type="text" class="form-control">
										</div>
										<div class="form-group">
											<label>Region</label>
											<select class="form-control" ng-options="item as item.name for item in regions.data"  ng-model="region" ng-change="update()">
											</select>
											 {{region.region_id}} {{region.name}}
										</div>
										<div class="form-group">
											<label>Landmark</label>
											<select class="form-control">
												<option>Option 1</option>
												<option>Option 2</option>
												<option>Option 3</option>
												<option>Option 4</option>
											</select>
										</div>	
										<div class="form-group">
											<label>Mobile</label>
											<input class="form-control" type="text" placeholder="Name">
										</div>																		
										<div class="form-group">
											<label>Member Type</label>
											<input type="text" class="form-control">
										</div>
										<div class="form-group">
											<label>Contact Person</label>
											<input type="text" class="form-control">
										</div>
										<div class="form-group">
											<label>Contact Person Mobile</label>
											<input type="text" class="form-control">
										</div>																		
										 <div class="form-group">
											<label>Password</label>
											<input type="password" class="form-control">
										</div>															
										<button type="submit" class="btn btn-primary">Submit Button</button>
										<button type="reset" class="btn btn-default">Reset Button</button>
									
								</form>
							
						</div>
					</div>
				</div>
			</div>