<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
				<div class="row">
					<ol class="breadcrumb">
						<li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
						<li class="active">Icons</li>
					</ol>
				</div><!--/.row-->
		
				<div class="row">
					<div class="col-lg-12">
						<h1 class="page-header">Driver Details</h1>
					</div>
				</div><!--/.row-->
				
		
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading" style="width: 70%;">Basic Details about Driver</div>
							<div class="panel-body" style="width: 80%; padding: 2% 5%;">								
									<form role="form">									
										<div class="form-group">
											<label>Name </label>
											<input class="form-control" type="text" placeholder="Name">
										</div>
																		
										<div class="form-group">
											<label>Mobile Number</label>
											<input type="text" class="form-control">
										</div>
										<div class="form-group">
											<label>Pincode</label>
											<input type="text" class="form-control">
										</div>
										<div class="form-group">
											<label>Address</label>
											<input type="text" class="form-control">
										</div>																		
										<!-- <div class="form-group">
											<label>File input</label>
											<input type="file">
											 <p class="help-block">Example block-level help text here.</p>
										</div>
										
										<div class="form-group">
											<label>Text area</label>
											<textarea class="form-control" rows="3"></textarea>
										</div>
										
										<label>Validation</label>
										<div class="form-group has-success">
											<input class="form-control" placeholder="Success">
										</div>
										<div class="form-group has-warning">
											<input class="form-control" placeholder="Warning">
										</div>
										<div class="form-group has-error">
											<input class="form-control" placeholder="Error">
										</div>
										
									</div> -->
																		
										<div class="form-group">
											<label>Which type of car you can drive ?</label>
											<div class="checkbox">
												<label><input type="checkbox" value="">Automatic
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="">Manual
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value=""> Luxury(Audi, BMW, Merc etc)
												</label>
											</div>
										</div>

										<div class="form-group">
											<label>Interested in</label>
											<div class="checkbox">
												<label><input type="checkbox" value="">Personal Driver
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="">Valet Parking
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value=""> Company Driver
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="">Outstation Driver
												</label>
											</div>
										</div>
										
										<div class="form-group">
											<label>Can use Andoird Phone ?</label>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" >Yes
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">No
												</label>
											</div>
										</div>
										<div class="form-group">
											<label>Previous Valet Parking Experience ?</label>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" >Yes
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">No
												</label>
											</div>
										</div>
										<div class="form-group">
											<label>Driving Experience</label>
											<input type="text" class="form-control">
										</div>	
										<div class="form-group">
											<label>Aadhar ID</label>
											<input type="text" class="form-control">
										</div>	
										<div class="form-group">
											<label>Documents</label>
											<div class="checkbox">
												<label><input type="checkbox" value="">Private Driving License</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="">Commercial Driving License
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value=""> Badge
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="">Police Verification
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="">Voter ID
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value=""> Aadhar ID
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="">Passport
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="">Pan card
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value=""> Other :
												</label>
											</div>
										</div>
										<table class="table table-striped">
											<label>Availability-Full Time</label>
											<thead>
										      <tr>
										        <th></th>
										        <th>7 Days</th>
										        <th>6 Days</th>
										        <th>N/A</th>
										      </tr>
										    </thead>
										    <tbody>
										      <tr>
										        <td>12 Hours</td>
										        <td><input type="checkbox" value=""></td>
										        <td><input type="checkbox" value=""></td>
										        <td><input type="checkbox" value=""></td>
										      </tr>
										      <tr>
										        <td>10 Hours</td>
										        <td><input type="checkbox" value=""></td>
										        <td><input type="checkbox" value=""></td>
										        <td><input type="checkbox" value=""></td>
										      </tr>
										      <tr>
										        <td>8 Hours</td>
										        <td><input type="checkbox" value=""></td>
										        <td><input type="checkbox" value=""></td>
										        <td><input type="checkbox" value=""></td>
										      </tr>
										    </tbody>
										</table>
										<div class="form-group">
											<label>Availability-Part Time</label>
											<div class="checkbox">
												<label><input type="checkbox" value="">Before 10 AM</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="">Before 11 AM
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="">Before 12 AM
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="">After 6 PM
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="">After 7 PM
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="">After 8 PM
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="">After 9 PM
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value=""> Other :
												</label>
											</div>
										</div>
										<div class="form-group">
											<label>Expected Full Time Monthly Salary</label>
											<input type="text" class="form-control">
										</div>
										<!-- <div class="form-group">
											<label>Selects</label>
											<select class="form-control">
												<option>Option 1</option>
												<option>Option 2</option>
												<option>Option 3</option>
												<option>Option 4</option>
											</select>
										</div>
										
										<div class="form-group">
											<label>Multiple Selects</label>
											<select multiple class="form-control">
												<option>Option 1</option>
												<option>Option 2</option>
												<option>Option 3</option>
												<option>Option 4</option>
											</select>
										</div> -->
										
										<button type="submit" class="btn btn-primary">Submit Button</button>
										<button type="reset" class="btn btn-default">Reset Button</button>
									
								</form>
							
						</div>
					</div><!-- /.col-->
				</div><!-- /.row -->		
			</div>